<div class="content">
    <div class="contact-profile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Hb5xzFZJCTW4cMqmPwsgfw-gILUV7QevvQ&s"
            alt="" />
        <p>Erfan Yousefi</p>
        <div class="social-media">
            <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="count"></span></span>
        </div>
    </div>
    <div id="roomName">
        <h3></h3>
    </div>
    <div class="messages">
        <ul>
            <li class="sent">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Hb5xzFZJCTW4cMqmPwsgfw-gILUV7QevvQ&s"
                    alt="" />
                <p>salam dostan haleton chetore ? az course nodejs razi hastin?</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>salam are babab khialet rahat</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button class="submit">send</i></button>
        </div>
    </div>
</div>