<div id="sidepanel">
    <div id="profile">
        <div class="wrap">
            <img id="profile-img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZOMhp5JW1FpJQis_dsvZ4HPXRBNT5tZDOuQ&s"
                class="online" alt="" />
            <p>ra chat</p>
            <!-- <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i> -->
            <div id="status-options">

            </div>
        </div>
    </div>
    <ul id="namespaces" style="direction: rtl; cursor: pointer;">
    </ul>
    <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
        <ul>
            
        </ul>
    </div>
</div>